<p>
  <strong>Name:</strong>
  <%= @weapon_item.name %>
</p>
 
<p>
  <strong>Low:</strong>
  <%= @weapon_item.low %>
</p>

<p>
  <strong>High:</strong>
  <%= @weapon_item.high %>
</p>

<p>
  <strong>Average Value:</strong>
  <%= @weapon_item.avg_val %>
</p>