<form method="GET">
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Average Party Level</span>
		<input id="level" name="level" type="text" class="form-control" placeholder="1-20" aria-describedby="basic-addon1">
	</div>
	<input type="submit" value="Submit">
</form>
